body {
    margin: 0;
    text-align: center;
    font-family: 'merrieweather', serif;
}

h1  {
    margin-top: 0;
    font-family: 'Raleway';

}

.top-container{
    position: relative;
    background-color: beige;
    border: 10px;
    padding: 100px;
}



.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px
}